* {
    margin: 0;
    padding: 0;
}

#login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
}

@media screen and (min-width: 0px) and (max-width: 750px) {

    #login-container {
        height: 550px;
    }
}


#login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(13, 56, 56);
}

#login-wrapper div {
    padding: 20px;
    text-align: center;
}

#login-input {
    height: 30px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid rgb(37, 163, 163);
    background: rgb(180, 243, 222);
    text-align: center;
    opacity: .4;
}

#login-button {
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-weight: 200;
    color: rgb(13, 56, 56);
    border-radius: 5px;
    border: 2px solid rgb(37, 163, 163);
    background: rgb(180, 243, 222);
    cursor: pointer;
}

#login-button:hover {
    transform: scale(1.2);
    font-weight: 300;
}

#contact-link {
    color: black;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

#contact-div:hover {
    transform: scale(1.2);
    text-decoration: underline;
}
